<app-base-page></app-base-page>
<div class="card">
  <div class="card-body">

    <!--My Jumbotron -->
    <div class="jumbotron jumbotron-fluid border border-dark text-light bg-primary">
      <div class="container ">
        <h1 class="display-4">About Me</h1>
        <p class="lead">Below I have included some information about myself
        </p>
        <p>A brief summary about myself:</p>
      </div>
    </div>

    <!--My Image and Description, and resume link -->
    <div class="media">
      <img src="assets/Images/profile.jpg" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">About Me</h5>
        My name is Gabriel Norman, i am a current student at Centennial College.
        I am currently working towards acquiring a Software Engineering Technology
        Advanced Diploma.I enjoy progrmming and designing software both
        professionally and in my spare time. Other hobbies I enjoy are: playing multiple
        musical instruments, billiards, and tennis.
        <br>
        <p>
          Here is a link to my current resume: <a
            href="https://drive.google.com/file/d/1VRlFbxu4Ep4h2mI1b-yp31uxkpuaVjZx/view?usp=sharing">Click Here!</a>
        </p>
      </div>
    </div>

  </div>
</div>
