 <div class="footer  border border-dark navbar-fixed-bottom ">
      &copy Gabriel Norman - Student# 300897331- Winter 2019 Semester Centennial College
      </div>
    </div>

  

    <!-- JavaScript Links -->
    <!--
    Student Name: Gabriel Norman
    Student #: 300897331
    Date: February 13th 2019 
    File Name: Footer 

 -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
