  <app-base-page>
  </app-base-page>
  <!--Jumbotron and mission statement -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello and Welcome to My Career Portfolio {{title}} </h1>
      <p class="lead">
        My Mission Statement:
      </p>
      <p>
        My Current goal is to achieve an advanced diploma in
        software engineering technology from Centennial college.
        After that I aspire to achieve a Bachelors of information technology security,
        and procure a job in the IT security sector working for a reputable company.
      </p>
      <hr class="my-4" />
      <p>
        Click the button to learn more about me.
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">More About Me</a>
      </p>
    </div>
