<app-base-page></app-base-page>
<div class="card">
  <div class="card-body">
    <div class="jumbotron jumbotron-fluid border border-dark text-white bg-success">
      <div class="container ">
        <h1 class="display-4">My Services</h1>
        <p class="lead">
          I have multiple services I can employ for you.
          I will now showcase my three best:
        </p>
        <p>Some Examples Below:</p>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <img src="assets/Images/CSharp_Logo.jpg" class="card-img-top" alt="..." width=500px height=500px>
        <div class="card-body">
          <h5 class="card-title">C# Programming</h5>
          <p class="card-text">My Greatest Skill is my C# Programming.
            This is due to the fact that I have spent the most time programming in this language.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Images/SQL.png" class="card-img-top" alt="..." width=500px height=500px>
        <div class="card-body">
          <h5 class="card-title">SQL Database Development</h5>
          <p class="card-text">I am extremely well versed in SQL database development.
            I am most familiar with Oracle SQL, but I also have a deep knowledge of Mysql
            and Microsoft SQL.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Images/Java.png" class="card-img-top" alt="..." width=500px height=500px>
        <div class="card-body">
          <h5 class="card-title">Java Programming & Mobile Application Development</h5>
          <p class="card-text">My Java Programming skills are also very strong. I have experience in both standard
            Java SE and Java EE Programming.
            I have a background in designing mobile applications for Android using Java as well</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
